#tn {
  transition: transform 200ms ease-in-out;
}

#tn:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

#qm {
  transition: transform 200ms ease-in-out;
}

#tn:hover + #qm {
  transform: translateY(-3.3rem);
}
